<%= form_for(@patient) do |f| %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :next_appointment_date %><br />
    <%= f.date_select :next_appointment_date %>
  </div>
  <div class="field">
    <%= f.label :mother_id %><br />
    <%= f.number_field :mother_id %>
  </div>
  <div class="field">
    <%= f.label :father_id %><br />
    <%= f.number_field :father_id %>
  </div>
  <div class="field">
    <%= f.label :tutor_id %><br />
    <%= f.number_field :tutor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
